/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}


/* style */

body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;

}

.card {
    background-color: hsl(216, 50%, 16%);
    width: 330px;
    padding: 20px;
    border-radius: 12px;
}

.image img {
    border-radius: 8px;
    margin: 1px;
}

.nft_type {
    color: white;
    padding: 20px 0 15px 0;
}

.description {
    color: hsl(215, 51%, 70%);
    padding-bottom: 15px;
}

.info {
    display: flex;
}

.info .price {
    color: hsl(178, 100%, 50%);

}






.info .time_left {
    color: hsl(215, 51%, 70%);
}

.info img {

    align-items: flex-start;
    height: 60%;
}


footer {
    margin-top: 20px;
}

hr {
    border-top: 0.5px solid hsl(215, 32%, 27%);
    text-decoration: none;
}